.footer {
    text-align: center;
    background-color: aliceblue;
    border-top: 1px solid aqua;
    height: 50px;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}